@import 'nav';
@import 'fonts';

body {
    font-family: $main-font;
}
#main_container {
    margin-top: 75px;
    padding-bottom: 5px;
}
#headshot {
    width: 70%;    
    box-shadow: 4px 4px 14px 0px rgba(0, 0, 0, 0.75);
}
#about_container {
    margin: 100px 0px;
    padding: 0px 95px 60px 95px;
    letter-spacing: 1px;
    line-height: 30px;
}
#greeting {
    border-bottom: 1px solid black;
    padding-bottom: 8px;
}
#project_img-3 {
    height: 89px;
}
#project_img-4 {
    height: 288px;
}
#projects_heading {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}
.add_padding {
    padding-top: 4em;
}
.project_img {
    width: 100%;
    height: 210px;
}
.flex_projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}