<hr class="horizontal_break">
<div id="about_container" class="text-center" ng-controller="AboutCtrl">
    <div class="col-md-12">
        <h2>A little bit about me</h2>        
        <p>Once I was in business management for specialty coffee with dreams of opening my own cafe. After working in upper management for a few years, I came accross an opportunity to combine my love for coffee with eCommerce to develop an online retail presence for imported Italian coffee equipment. Building that webstore helped ignite my interest in software development and led me to research code on my own time, eventually helping me land a spot at Nashville Software School. Now I get to build things that solve problems for people and companies.</p>    
    </div>
</div>