<h1>{{hey}}</h1>

<div class='container'>
	<div class="panel panel-default">
			<div class="panel-heading"><h2>How to Connect with Me</h2></div>
			<div class="panel-body">
					<address>
							<strong>Twitter, Inc.</strong><br>
							1355 Market Street, Suite 900<br>
							San Francisco, CA 94103<br>
							<abbr title="Phone">P:</abbr> (123) 456-7890
						</address>
						
						<address>
							<strong>Full Name</strong><br>
							<a href="mailto:#">first.last@example.com</a>
						</address>
			</div>
	</div>
</div>