<div id="blog_container" class="container" ng-controller="BlogCtrl">
    <h3 id="blog_heading" class="text-center ">Blog</h3>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div ng-repeat="blog in blogs">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading-{{blog.id}}">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{blog.id}}" aria-expanded="true" aria-controls="collapse-{{blog.id}}">
                            {{blog.title}}
                        </a>
                    </h4>
                </div>
                <div id="collapse-{{blog.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-{{blog.id}}">
                    <div class="panel-body">
                        {{blog.content}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
      