<footer class="navbar navbar-default navbar-fixed-bottom">
    <div class='container-fluid'>
        <div class="row text-center">
            <a href="https://twitter.com/drerandaci" class="icon-button twitter"><i class="icon-twitter"></i><span></span></a>
            <a href="https://facebook.com/dre.randaci" class="icon-button facebook"><i class="icon-facebook"></i><span></span></a>
            <a href="https://github.com/drerandaci" class="icon-button google-plus"><i class="icon-github"></i><span></span></a>
            <p>&copy; Dre Randaci, 2017</p>
        </div>			  	   
        
    </div>
</footer>