<div id="projects_container">
    <h1>projects</h1>
    <div ng-repeat="project in projects" class="col-sm-6 col-md-4">
        <div class="thumbnail">                                    
            <div class="caption">                    
                <div class="panel panel-warning">
                    <div class="panel-heading">                                                        
                        <h1 class="panel-title">{{project.name}}</h1>
                    </div>
                    <div class="panel-body">
                        <p>{{project.description}}</p>
                        <a>{{project.github_url}}</a>
                        <div>
                            <img src="{{project.img}}" width="100%" height="100%">
                        </div>                
                    </div>              
                </div>            
            </div>
        </div>
    </div>
</div>