<div id="projects_container" class="text-center" ng-controller="ProjectsCtrl">
    <h3 id="projects_heading">Projects</h3>
    <div ng-repeat="project in projects" class="col-sm-6 col-md-4">
        <div class="thumbnail">                                    
            <!-- <div class="caption">                     -->
                <!-- <div class="panel panel-default"> -->
                    <div class="panel-heading">                                                        
                        <h1 class="panel-title">{{project.name}}</h1>
                    </div>
                    <!-- <div class="panel-body">  -->
                        <!-- <p>{{project.description}}</p> -->
                        <!-- <a>{{project.github_url}}</a> -->
                        <div>
                            <img id="project_img-{{project.id}}" class="project_img" ng-src="{{project.img}}">
                        </div>                
                    <!-- </div>              
                </div>            
            </div> -->
        </div>
    </div>
</div>