
/*--------------

MAIN STYLES

---------------*/

body {
	/*background-color: #5bb689;*/
}
header {
	text-align: center;
}
h1 {
	text-align: center;
	color: white;
}
h2 {
	text-align: center;
	color: white;
}
h4 {
	font-size: 24px;
	margin: 0;
}

h5 {
	margin: 0;
	padding: 1em;
}

a {
	text-decoration: none;
	color: black;
}
ul {
	text-align: center;
	padding: 0;
	margin: 0;
}
li {
	display: inline;
	width: 100%;
	font-weight: bolder;
	font-size: 17px; 
}
p {
	text-align: center;
	margin-top: 0;
}
footer {
	text-align: center;
	padding: 4em 0; 
}

/*--------------

Pseudo Classes

---------------*/

h1:hover {
	color: #000;
}
a:hover {
	color: white;
	/*background-color: #429369; */
}
/*a:active {
	font-size: 22px;
}*/

/*--------------

Classes

---------------*/

.notCentered {
	text-align: left;
	color: white;
}
.card-container {	
	width: 350px;
	border: 2px solid #429369;
	margin: 1%;
	background-color: #F3F3F3;	
}
.card-header {
	text-align: center;
	padding: 5% 3% 0;
	opacity: 0.8;
}

.entry {
	text-align: center;
	margin: 0;
	padding: 3% 6%;
	opacity: 0.8;
}
.contactMe {
	width: 500px;
	height: 150px;
	margin: 5%;	
}
.contactMe li {
	padding: 1em;
}
.footer {
	padding: 0;
}

/*--------------

Flex layout

---------------*/

#navUL {
	display: flex;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid black;
}

#blog-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
#contactMeFlexbox {
	display: flex;	
	padding: 0;
	margin: 2%;
	justify-content: center;	
}


