
/*--------------

MAIN STYLES

---------------*/

body {
	/*background-color: gainsboro;*/
	border: 5px solid black;
}
header {
	text-align: center;
}
h1 {
	text-align: center;
	color: #2B2137;
}
h2 {
	text-align: center;
	/*color: white;*/
}
h4 {
	font-size: 24px;
	margin: 0;
}

h5 {
	margin: 0;
	padding: 1em;
}

p {
	text-align: center;
	margin-top: 0;
}
footer {
	text-align: center;
	padding: 4em 0; 
}

/*--------------

Pseudo Classes

---------------*/

h1:hover {
	color: #3B3F4C;
}
a:hover {
	color: #3B3F4C;
	/*background-color: #429369; */
}

/*--------------
NAVBAR
----------------*/

a {
	text-decoration: none;
	color: #2B2137;
}
ul {
	text-align: center;
	padding: 0;
	margin: 5px;
}
#navMain li {
	font-size: 17px;
	padding: .6em;
}

#navMain {
	display: inline-flex;
	list-style: none;
	font-family: 'Muli', sans-serif;
}

/*--------------

Classes

---------------*/

.name-styles {
	text-align: left;
	margin-left: 30px;
	font-family: 'Raleway', sans-serif;
}
.card-container {	
	width: 350px;
	border: 2px solid #429369;
	margin: 1%;
	background-color: #F3F3F3;	
}
.card-header {
	text-align: center;
	padding: 5% 3% 0;
	opacity: 0.8;
}

.entry {
	text-align: center;
	margin: 0;
	padding: 3% 6%;
	opacity: 0.8;
}
.contactMe {
	width: 500px;
	height: 150px;
	margin: 5%;	
}
.contactMe li {
	padding: 1em;
}
.footer {
	padding: 0;
}

/*--------------

Flex layout

---------------*/


#blog-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
#contactMeFlexbox {
	display: flex;	
	padding: 0;
	margin: 2%;
	justify-content: center;	
}

/*---------------
FONTS AND COLORS
----------------*/

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Muli', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Nunito', sans-serif;
*/







