nav {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end; }

nav div a:link, nav div a:visited {
  text-decoration: none;
  color: #000000;
  letter-spacing: 3px;
  transition: 0.2s; }

#nav_bar {
  padding-right: 2em; }

#nav_bar a {
  padding-right: 1em; }

.nav_hover:hover {
  color: #787878; }

/*
font-family: 'Raleway', sans-serif;
font-family: 'Muli', sans-serif;
font-family: 'Josefin Sans', sans-serif;
*/
body {
  font-family: "Open Sans", sans-serif; }

#main_container {
  margin-top: 50px; }

#headshot {
  width: 300px;
  height: 206px;
  border-radius: 50%;
  box-shadow: 4px 4px 14px 0px rgba(0, 0, 0, 0.75); }

.add_padding {
  padding-top: 4em; }
